@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-family: poppins;
  justify-content:space-around;
  background-color: #A8DADC;
}


.nav {
  color: #fff;
  text-decoration: none;
}
.nav ul{
  color: #fff;
  text-decoration: none;
}
.banner{
  color: white;
}

.testbox a, .item, h2{
  text-decoration: none;
  color: white;
  
}
.testbox h2{
  text-align: center;
  font-size:1.05em;
}

.testbox {
  position: relative;
  left:50%;
  transform: translateX(-50%);
  font-size: 0.75em;

  width: 30%;
  height: auto;
  border-radius: 20px;
  padding:3%;

  margin: 3%;
  box-sizing: border-box;
  background: #1D3557;
  
}


.item {
  text-align: left;
  margin-top: 30px;
}

.item, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}



input::placeholder {
  color: gray;
}

input {
 
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;

}

button:hover {
  box-shadow: none;
}

.footer {
  background: #E63946;
}

.footer a{
  text-decoration: none;
  color: white;
  
}